<ion-view view-title="Contact">
  <ion-content>

<div class="list list_contact">
  <label class="item item-input item-floating-label">
    <span class="input-label">Prénom</span>
    <input type="text" name="fname" id="contact_fname" placeholder="Prénom">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Nom</span>
    <input type="text" name="name" id="contact_name" placeholder="Nom">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Adresse mail</span>
    <input type="text" name="mail" id="contact_mail" placeholder="Adresse mail">
  </label>
  <div class="btn_contact_box">
	  <button class="button button-block button-dark" id="contact_send">Envoyer</button>
  </div>
</div>

  </ion-content>
</ion-view>
